extends layout

block content
  h1= title
  p Welcome to the PUG Demo #{title}
  button(type="button", class="btn btn-primary" onclick="doReduce()") Press Me
  div#reduce Reduce the value 
  script.
    var count = 20;
    var change = -1;
    function doReduce() {
      count += change;
      change -= 1;
      document.getElementById("reduce").innerHTML = "Count " + count + " with change " + change;
    }

  a(href="/flowers") Flowers